<ul>
    <% @events.each do |event| %>
        <li>
            <strong><%= event.name %></strong>
            in <%= event.location %>: 
            <%= number_to_currency(event.price, precision: 0) %>
        </li>
    <% end %>
</ul>